/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* STYLES */
.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HOME */
.Home {
  display: block;
  width: 100%;
  height: 100%;

  &-bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* LOGIN */
.Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-registerLink {
    margin-top: 100%;
  }
}

/* REGISTER */
.Register {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-loginLink {
    margin-top: 100%;
  }
}

/* FORM */
.HabitsForm {
  display: flex;
  flex-direction: column;
  width: 300px;

  &-title {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
  }

  &-fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &-legend {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
  }

  &-label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &-input,
  &-input:focus,
  &-input:focus-visible {
    border: 2px solid #000;
    border-radius: 0;
    padding: 15px 20px;
    outline: 0;
  }

  &-input {
    &[type="radio"] {
      margin: 0 10px;
    }
  }

  &-error {
    color: red;
    margin-bottom: 30px;
  }
}

/* LISTS TABS */
.Tabs {
  display: flex;
  margin: 60px auto;
  justify-content: space-between;
  width: 80%;
  min-height: 100px;
  align-items: center;
  text-transform: uppercase;

  &-tab {
    font-weight: 800;
    font-size: 24px;
    color: lightgray;
    transition: font-size 0.25s ease-in;

    &.active {
      font-weight: 800;
      font-size: 36px;
      color: #000;
      transition: font-size 0.25s ease-out;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

/* ADD TODO ACTION */
.AddToDo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-todo-action {
  background: none;
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding: 0 30px;
  font-weight: 800;
  background-color: #000;
  color: #fff;
}

/* PROGRESS BOOTSTRAP OVERRIDE*/
.progress {
  width: 100%;
  height: 6px;
  border-radius: 0;
}

.progress-bar {
  background-color: #000;
}

.progress-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 5px;
}

// FOOTER
.Footer {
  position: sticky;
  top: 100vh;
  left: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #000;

  &-link {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }
}

// SETTINGS
.SettingsNav {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  border-right: 1px solid lightgray;
  min-height: 100%;
}

.ProfilePhoto {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-imgWrap {
    height: 90px;
    width: 90px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  &-img {
    background-color: lightgray;
    height: 96%;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 32px;
    font-weight: 800;
  }

  h3 {
    font-weight: 800;
    text-transform: uppercase;
  }
}

.SettingsNavList {
  &-section {
    margin-bottom: 20px;
  }

  &-sectionTitle {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }

    p {
      flex: 4;
      text-align: left;
      margin-left: 15px;
    }
  }
}

// BOOTSTRAP MODAL OVERRIDE
.modal-footer {
  border-top: none;
}

// BUTTONS
.Button {
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: bold;

  &--confirm {
    background: #000;
    color: #fff;
  }

  &--cancel {
    background: none;
    color: #000;
  }

  &.disabled {
    border: 2px solid lightgrey;
    background: none;
    color: lightgrey;
  }
}

// SETTINGS LAYOUT
.Settings {
  &-content {
    display: flex;
    height: 90%;
  }
}

// SETTINGS CONTENT
.SettingsContent {
  padding: 40px;
  flex: 3;
}

// SETTINGS HABITS
.HabitsSettings {
  &-listItem {
    list-style-type: none;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 40px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.HabitsSettingsItem {
  flex: 1;
}

// HEADER
.Header {
  padding: 10px 20px;
  height: 10%;
  border-bottom: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-date {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 32px;
  }
}

/* TODOS */
.Todos {
  margin-bottom: 40px;
}

.TodosList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-item {
    margin: 20px;
    font-size: 24px;
    list-style-type: none;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &.settings {
      justify-content: space-between;
      width: 80%;
    }

    &.finished {
      text-decoration: line-through;
      color: lightgray;
    }
  }
}

/* HABITS LIST */
.Habits {
  margin-bottom: 40px;
  flex: 1;
}

.HabitsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HabitsListItem {
  margin: 20px;
  font-size: 24px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 500px;

  &-habit {
    flex: 1;
    margin: 0 50px;
  }

  &-action {
    background: none;
    border: 2px solid #000;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    font-weight: bold;

    &.hidden {
      visibility: hidden;
    }
  }
}

.FinishDayAction {
  text-align: center;
  margin-top: 40px;
}
