/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* STYLES */
/* HOME */
.home-container {
  display: block;
  width: 100%;
  height: 100%;
}

.home-bg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* LOGIN */
.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-registerLink {
  margin-top: 100%;
}

.login-action {
  background: none;
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: 800;
  background-color: #000;
  color: #fff;
}

.login-registerLink {
  margin-top: 100%;
}

/* REGISTER */
.register-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-action {
  background: none;
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: 800;
  background-color: #000;
  color: #fff;
}

.register-registerLink {
  margin-top: 100%;
}

/* FORM */
.habitsForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.habitsForm-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 30px;
}
.habitsForm-fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.habitsForm-legend {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}
.habitsForm-label {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.habitsForm-input, .habitsForm-input:focus, .habitsForm-input:focus-visible {
  border: 2px solid #000;
  border-radius: 0;
  padding: 15px 20px;
  outline: 0;
}
.habitsForm-input[type=radio] {
  margin: 0 10px;
}
.habitsForm-error {
  color: red;
  margin-bottom: 30px;
}

/* LISTS */
.lists-container {
  height: 100vh;
  width: 100vw;
}

/* LISTS TABS */
.list-tabs {
  display: flex;
  margin: 60px auto;
  justify-content: space-between;
  width: 80%;
  min-height: 100px;
  align-items: center;
  text-transform: uppercase;
}

.list-tab {
  font-weight: 800;
  font-size: 24px;
  color: lightgray;
  transition: font-size 0.25s ease-in;
}

.list-tab.active {
  font-weight: 800;
  font-size: 36px;
  color: #000;
  transition: font-size 0.25s ease-out;
}

.list-tab:hover {
  cursor: pointer;
}

/* ADD TODO ACTION */
.add-todo-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-todo-action {
  background: none;
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding: 0 30px;
  font-weight: 800;
  background-color: #000;
  color: #fff;
}

/* PROGRESS */
.progress {
  width: 100%;
  height: 6px;
  border-radius: 0;
}

.progress-bar {
  background-color: #000;
}

.progress-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 5px;
}

/***********************NEW***********************/
.Footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}
.Footer-link {
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.Footer-link:hover {
  cursor: pointer;
}

.SettingsNav {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  border-right: 1px solid lightgray;
  min-height: 100%;
}

.ProfilePhoto {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ProfilePhoto-imgWrap {
  height: 90px;
  width: 90px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.ProfilePhoto-img {
  background-color: lightgray;
  height: 96%;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 32px;
  font-weight: 800;
}
.ProfilePhoto h3 {
  font-weight: 800;
  text-transform: uppercase;
}

.SettingsNavList-section {
  margin-bottom: 20px;
}
.SettingsNavList-sectionTitle {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.SettingsNavList-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.SettingsNavList-item:hover {
  cursor: pointer;
}
.SettingsNavList-item p {
  flex: 4;
  text-align: left;
  margin-left: 15px;
}

.modal-footer {
  border-top: none;
}

.Button {
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: bold;
}
.Button--confirm {
  background: #000;
  color: #fff;
}
.Button--cancel {
  background: none;
  color: #000;
}
.Button.disabled {
  border: 2px solid lightgrey;
  background: none;
  color: lightgrey;
}

.Settings-content {
  display: flex;
  height: 90%;
}

.SettingsContent {
  padding: 40px;
  flex: 3;
}

.HabitsSettings-listItem {
  list-style-type: none;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin-bottom: 20px;
}
.HabitsSettings-listItem:last-of-type {
  margin-bottom: 40px;
}
.HabitsSettings-listItem:hover {
  cursor: pointer;
}

.HabitsSettingsItem {
  flex: 1;
}

.Header {
  padding: 10px 20px;
  height: 10%;
  border-bottom: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Header-date {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 32px;
}

/* TODOS */
.Todos {
  margin-bottom: 40px;
}

.TodosList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TodosList-item {
  margin: 20px;
  font-size: 24px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.TodosList-item:hover {
  cursor: pointer;
}
.TodosList-item.settings {
  justify-content: space-between;
  width: 80%;
}
.TodosList-item.finished {
  text-decoration: line-through;
  color: lightgray;
}

/* HABITS LIST */
.HabitsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HabitsListItem {
  margin: 20px;
  font-size: 24px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.HabitsListItem-habit {
  flex: 1;
  margin: 0 50px;
}
.HabitsListItem-action {
  background: none;
  border: 2px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: bold;
}
.HabitsListItem-action.hidden {
  visibility: hidden;
}

.FinishDayAction {
  text-align: center;
  margin-top: 40px;
}/*# sourceMappingURL=index.css.map */